.action {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background */
  transition: opacity 300ms;
  padding: 8px 0;;
  border-radius: 8px;
}

.movieBox:hover .action {
  opacity: 1; /* Show the buttons on hover */
}

.action-icon{
    cursor: pointer;
    font-size: 20px;
    margin: 0 8px;
    color: white
}


.action-icon{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.8em;
}